* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #ecec1c;
}

.logo {
    max-width: 10 rem;
}

.nav__list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav__list li a {
    text-decoration: none;
    color: #1c1c1c;
}

.abrir__menu, .cerrar__menu {
    display: none;
}

@media screen and (max-width:550px) {
    .abrir__menu, .cerrar__menu{
        display: block;
    }
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #ececec;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    
    .nav .visible {
        opacity: 1;
        visibility: visible;
    }

    .nav__list {
        flex-direction: column;
        align-items: end;
    }
}

